doctype html

html

    head
        title Intelligent Rickshaw BCN: #{title}
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible", content="IE-edge")
        meta( name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='/socket.io/socket.io.js')
        if user
            if user.isApproved  
                script(src='/javascripts/chat.js')
        script.
        
            // script in this position will run everytime the page is loaded or refreshed
            console.log('\n');
            console.log('Script begins...');
            
            // declare variables and obtain those passed in
            var participants = !{JSON.stringify(participants)};
            var members = !{JSON.stringify(members)};
            var positions = !{JSON.stringify(positions)};
            //console.log('first member is ' + members[0].username);
            var index = 0;
            var buttonIndex = 0;
            var photoSRC = 'images/noimage.png';
            var user = !{JSON.stringify(user)};
            console.log('Variables declared');
            
            // *************** FUNCTIONS ***********************
            
            // This runs when the body has loaded
            // 1. Create the view buttons if a set of Positions exist
            // 2. Start the clock function
            // 3. Start the location service
            
            function myOnPageLoad() {
                console.log('Body had loaded..');
                if (positions.length > 0){
                    console.log('creating View Buttons...');
                    createViewButtons();
                }
                startTime();
                console.log('Clock started..');
                if(user){
                    startLocationService();
                    console.log('LocSer started');
                }
                //getLocation();
            }
            
            function startLocationService(){
                autoUpdateLocation();
            }
            
            function autoUpdateLocation(){
                // get current location
                getLocation();
                var repeat = setTimeout(autoUpdateLocation, 5000);
            }
            function startTime(){
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
            }
            
            function createViewButtons(){
                
                // clear the ViewButton area
                $('#viewButtons').html('');
                
                // append the ViewAll button
                var html = '<input id="viewAll" type="button" data-id="VIEWALL" value="View All", disabled="true", style="font-size:10px"></input>'; 
                $('#viewButtons').append(html);
                
                // set a function for the ViewAll button click
                $('#viewAll').on('click', viewAllMarkers);
                
                // create and append all the individual View buttons
                var index = 0;
                // Loop through Members
                for (var i = 0; i < members.length; i++) {
                
                    // Loop through Positions
                    for (var p = 0; p < positions.length; p++){
                    
                        if (positions[p].memberId === members[i].id){
                        
                            console.log('creating a member view button for Member No: ' + members[i].id);
                            $('#viewButtons').append('<input id="viewButton' + index + '" type="button" value="' + members[i].username + '" data-id="' + members[i].id + '", disabled="true", style="font-size:10px"></input>');
                            $('#viewButton' + index).on('click', viewMarkersById);
                            index++;
                            break;
                            
                        }
                    }
                }
                // console.log('chat.js - Participants updated in browser');
            }
            
            function getLocation() {
                
                console.log("fetching location...");
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(postLocation, showError);
                } 
                else { 
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function postLocation(position) {
                var x = document.getElementById("lat/lng");
                x.innerHTML = "Latitude: " + position.coords.latitude + 
                " Longitude: " + position.coords.longitude;
                if(!user){
                    $.post("/allpositions", {
                            id: "unknown",
                            position: position
                        }, function(response){
                            console.log(response);
                        
                            //- alert("Response: " + response);
                        }
                    );
                }
                else{
                    // AJAXing to the server
                    $.ajax({
                        url:  '/coords',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({lat: position.coords.latitude, lng: position.coords.longitude, id: user.id})
                    });
                    console.log('Member Coords POSTed');
                }
            }

            function refreshApprovals(){
                $.get("/members/refreshApprovals", function(lastestApprovals){
                    console.log("updated list of Approvals received");
                    // do something here with the latest Approvals
                });
            
            
            }
            
            
            function showError(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        x.innerHTML = "User denied the request for Geolocation."
                        break;
                    case error.POSITION_UNAVAILABLE:
                        x.innerHTML = "Location information is unavailable."
                        break;
                    case error.TIMEOUT:
                        x.innerHTML = "The request to get user location timed out."    
                        break;
                    case error.UNKNOWN_ERROR:
                        x.innerHTML = "An unknown error occurred."
                        break;
                }
            }
            
            function checkTime(i) {
                if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                return i;
            }
            console.log('loading body....');

    body(onload="myOnPageLoad()")
    
        .container
            nav.navbar.navbar-default.navbar-fixed-top
                .div
                    .navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle Navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-left(href='/')
                            #logo
                                img(src="/images/InteligentBCNlogo.png", style="max-height:50px")
                            //- a.navbar-brand(href="/") Intelligent Rickshaw BCN
                    #navbar.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li(class=(title === "Home" ? "active" : ""))
                                a(href="/") Home
                            li(class=(title === "Rickshaws" ? "active" : ""))
                                a(href="/rickshaws") Rickshaws
                            li(class=(title === "Tours" ? "active" : ""))
                                a(href="/tours") Tours
                            li(class=(title === "Bookings" ? "active" : ""))
                                a(href="/bookings") Bookings
                            li(class=(title === "About" ? "active" : ""))
                                a(href="/about") About Us
                            li(class=(title === "Contact" ? "active" : ""))
                                a(href="/contact") Contact Us
                            if !user
                                li(class=(title === "Register" ? "active" : ""))
                                    a(href="/register") Register
                                li(class=(title === "Login" ? "active" : ""))
                                    a(href="/login") Log In
                            if user
                                li(class=(title === "Members" ? "active" : ""))
                                    a(href="/members") Members
                                li
                                    a(href="/members/logout") Log Out
            
            script.
                console.log('navbar complete');
            //- 
                if messages
                    != messages()
                div
                if participants
                    p There are #{participants.length} participants
                    if participants
                        each participant, i in participants
                            li.alert.alert-danger #{participant.id} , #{participant.username}
                                
                if !user
                    p You are NOT logged in
                    
                if user
                    p UserID: #{user.id} Name: #{user.name} #{user.surname} Username: #{user.username}  AccessLevel: #{user.access} Approval: #{user.isApproved}
                    
        
            block content 1
        
        footer
            p &copy; 2016 All Rights Reserved
            div(id="clock")
            button(onclick="getLocation()") Get Location
            p(id="lat/lng")
            
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
        script( src="/javascripts/bootstrap.js" )
        script(async='',defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCYoKrfsjvAU7lUHHVPp_vXxrpy_2bJkNw&callback=initMaps')
    
